# Copy this file to .env and update values for your local environment
# Do NOT commit your .env with secrets

#Development
# NEXT_PUBLIC_API_BASE_URL=https://localhost:7001/api
# NEXT_PUBLIC_BACKEND_URL=https://localhost:7001/api
# NEXT_PUBLIC_BACKEND_HOST=localhost
# NEXT_PUBLIC_SITE_URL=http://localhost:3002
# NEXT_PUBLIC_APP_NAME=LawyerSys Client
# NEXT_PUBLIC_APP_ENV=development


#Production

NEXT_PUBLIC_API_BASE_URL=https://qadayaapi.naqreo.com/api
NEXT_PUBLIC_BACKEND_URL=https://qadayaapi.naqreo.com/api
NEXT_PUBLIC_BACKEND_HOST=qadayaapi.naqreo.com
NEXT_PUBLIC_SITE_URL=https://qadaya.naqreo.com
NEXT_PUBLIC_APP_NAME=LawyerSys Client
NEXT_PUBLIC_APP_ENV=production